* {
    box-sizing: border-box;
}

header{
    background-color: darkslateblue;
    text-align: center;
    padding: 10px;
    color: white;
    text-transform: uppercase;
}

body {
    background-color: whitesmoke;
}

main {
    width: 85vw;
    margin: 0 auto;
}

.form_head {
    text-align: center;
    border-bottom: 6px black solid;
    margin-bottom: 5px;
}

.container {
    display: block;
    border-top: 3px black solid;
}

fieldset {
    border: none;
}

.contact_item,
.news_item,
input[type="text"],
input[type="email"],
input[type="tel"],
#states,
.news_label {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

legend {
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

::placeholder {
    text-align: right;
    font-style: italic;
}