* {
    box-sizing: border-box;
}

header{
    background-color: darkslateblue;
    text-align: center;
    padding: 10px;
    color: white;
    text-transform: uppercase;
}

body {
    background-color: whitesmoke;
}

main {
    width: 85vw;
    margin: 0 auto;
}

.form_head {
    text-align: center;
    border-bottom: 6px black solid;
    margin-bottom: 5px;
}

.container {
    display: block;
    border-top: 3px black solid;
}

fieldset {
    border: none;
}

.contact_item,
.news_item,
input[type="text"],
input[type="email"],
input[type="tel"],
#states,
.news_label {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

input,
#states {
    background-color: rgb(211, 211, 211);
    border: none;
    padding: 15px;
    border-radius: 5px;
}

input:focus,
#states:focus,
#textarea:focus,
.btn:focus {
    border: darkslateblue 4px solid;
    
}

legend {
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.4em;
}

::placeholder {
    text-align: right;
    font-style: italic;
}

#textarea {
    width: 100%;
    height: 80px;
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 15px;
    background-color: rgb(48, 150, 116);
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    font-style: italic;
    margin: 5px;
    color: slategray;
}

@media screen and (min-width: 768px) {

    main {
        width: 40vw;
    }

    #zip {
        width: 35%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
    }

    .contact_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    
    #contact label,
    #contact input,
    #contact select {
        display: inline-block;
        max-width: 500px;
    }
    
    #contact {
        width: 100%;
    }
}