.header {
    text-align: center;
}

header {
    background-color: rgba(20, 17, 61, 0.616);
    text-transform: uppercase;
    width: 100%;
    color: white;
}

.field, header {
    display: flex;
    flex-direction: column;
    border: none;
}

legend {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 10px;
}

input, textarea, #state {
    background-color: lightgray;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: .5em;
}

.news {
    display: block;
}


input::placeholder {
    text-align: right;
    font-style: italic;
}
